{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "linebreak-style": ["error", "windows"],  // changes the file to CRLF
    "import/prefer-default-export": "off"
  },
  "browser": true
}